<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recode_final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recode_Final_Project">
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".views.AllocationActivity"
            android:exported="true"
            android:label="Alocação"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.CourseActivity"
            android:exported="true"
            android:label="Curso"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.ProfessorActivity"
            android:exported="true"
            android:label="Professor"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.DepartmentActivity"
            android:exported="true"
            android:label="Departamento"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true"
            android:label="[RE]CODE V">
        </activity>
    </application>

</manifest>