<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recode_final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recode_Final_Project">
        <activity
            android:name=".views.AllocationActivity"
            android:label="Alocação"
            android:exported="true" />
        <activity
            android:name=".views.CourseActivity"
            android:label="Curso"
            android:exported="true" />
        <activity
            android:name=".views.ProfessorActivity"
            android:label="Professor"
            android:exported="true" />
        <activity
            android:name=".views.DepartmentActivity"
            android:label="Departamento"
            android:exported="true" />
        <activity
            android:name=".views.MainActivity"
            android:label="Allocation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>